@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  background: none;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  font-family: "Lato";
  display: flex;
  height: 80px;
  background-color: #34304b;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: azure;
  padding-top: 180px;
  padding-left: 50px;
}

.logo > img {
  width: 150px;
}

.menu {
  text-align: right;
  font-size: 14px;
  padding-right: 20px;
  color: grey;
  font-weight: 100;
}

.menu > a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
}

.menu > a:hover {
  background-color: #9b93be;
  padding: 5px;
}

.main-section {
  background-color: #342f4b;
  padding-bottom: 30px;
}

.main-section h1{
  font-family: "Playfair Display SC";
  font-size: 80px;
}

.main-section h2{
  letter-spacing: 8px;
  font-size: 20px;
}

.title {
  text-align: center;
  color: white;
}

.row {
  text-align: center;
}

.row p {
  padding-top: 20px;
}

.span-wwa {
  color: black;
  font-size: 45px;
}

.hidden {
  display: none;
}

.in-construction {
  font-size: 75px;
  letter-spacing: 8px;
  color: #342f4b;
  padding-top: 20px;
}

.ready-soon{
  font-size: 15px;
  letter-spacing: 6px;
  color: #342f4b;
  padding-top: 20px;
}

.loading-gif {
  width: 800px;
}
