@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  background: none;
}

body {
  font-family: "Lato", sans-serif;
  background: #f0f8ff;
}

/*Header*/
header {
  margin-bottom: 40px;
}

nav {
  height: 60px;
  background-color: #3c1e5d;
}

#navbarNav {
  width: 100%;
  background-color: #3c1e5d;
}
/*End header*/

/*Middle section*/
.backgrd {
  position: relative;
  background: url(../images/startupMeeting2.jpg);
  background-color: yellow;
  background-size: cover;
  height: 100vh;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 80%);
}

.backgrd h2 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #59caea; /*18ABB5  --  eeb121*/
  text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
  /*text-shadow: -1px 0 #0a3b0c, 0 0.75px #0a3b0c, 0.75px 0 #0a3b0c, 0 -1px #0a3b0c;*/
}

.middle-text {
  color: #000;
  font-size: 1.2rem;
  padding-top: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.backgrd img {
  width: 250px;
}

.tomato {
  background: #ea1d3d;
}

.bolder {
  font-weight: bolder;
}

.rebecca {
  background: #178fa5;
}

.royal {
  background: #f79422;
}

.dev-icon {
  font-size: 4rem;
}
/*End middle section*/

/*Portfolio section*/
.portfolio {
  background-color: aliceblue;
}

.card {
  overflow: hidden !important;
}

.card > img:hover {
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
/*End portfolio section*/

/*Footer*/
footer {
  height: 200px;
  background-color: #3c1e5d;
  color: azure;
}

.site-map a {
  color: azure;
  font-size: 1.1rem;
  text-align: left;
  text-decoration: none;
}

.too {
  text-align: right;
}

.social-network {
  color: azure;
  font-size: 2rem;
}

/*
* Scroll back to top button
*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/*End footer*/
